.env
.env.*
*.env
*.key
*.crt

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
*.egg

tests/
test_*.py
*_test.py
*.tox
*.pytest_cache
*.coverage.*

*.db
db.sqlite3

staticfiles/
media/
static/
*.jpg
*.jpeg
*.png
*.gif
*.svg

*.log

.git/
.github/
.gitignore

Dockerfile
pgdata/