DJANGO_SECRET_KEY=secret
DJANGO_SETTINGS_MODULE=techlot.settings
DJANGO_ALLOWED_HOSTS=localhost
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost
DJANGO_DEBUG=True

DB_ENGINE=django.db.backends.postgresql
DB_NAME=techlot_db
DB_USER=techlot_user
DB_PASSWORD=secret
DB_HOST=db
DB_PORT=5432