# Python
__pycache__/
*/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtualenv
venv/
.venv/
.env
.env.*.local
pgdata/
# Django
*.log
db.sqlite3
media/
staticfiles/
data.json

# IDE
*.code-workspace
*.pyc
.vscode/
.idea/

todo.md